.grid__container{
    width: 30%;
    height: 70%;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
    background-color: #8c3db194;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
}

.grid__element{
    box-sizing: border-box;
    border: 1px solid turquoise;
    background: linear-gradient(#434c7c, #6f6c7ab9);
    text-align: center;
    line-height: 250%;

}

.item6{
    grid-area: 1 / 6 / 8 / 6;
    width: 55%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    background: linear-gradient(#9ce28a,#dff1d1);
    display: grid;
    align-items: center;
}

.item8,.item9,.item10,.item11{
    background: linear-gradient(#becf5a,#c9ccb9);
}

.item7{
    grid-area: 2 / 1 / 2 / 6;
}

.contenedor{
    size: 100%;
    grid-area: 3 / 1 / 3 / 6;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
    background: transparent;
    border: none;

}
.item8, .item9{
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: normal;
    
}

.item10{
    grid-area: 4 / 1 / 4 / 6;
}

.item11{
    grid-area: 5 / 1 / 5 / 6;
}

.item12{
    grid-area: 6 / 1 / 6 / 6;
    background: linear-gradient(#d8b519,#d4cca5);
}
.item13{
    grid-area: 7 / 1 / 7 / 6;
    background: linear-gradient(#989ead,#adadad);
}