

.header{
    height: 150px;
    width: 100%;
    background-color: #434c7c;
}

.navBar{
    line-height: 1000%;
    
}
.nav__element{
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-weight: bolder;
    font-size: 20px;
}
img{
    height: 20%;
    margin: 60px 0px 0px 50px;
}
.grid__element a{
    text-decoration: none;
    border: none;
    background: transparent;
    display: grid;
    align-items: center;
}


article{
    margin: 0px 40% 0px 100px;
    flex: left;
    text-align: justify;
}

.titulo{
    font-size: 50px;
    color: #db952c;
}

p{
    font-size: 20px;
}



.grid__container{
    width: 60%;
    height: 80%;
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px;
    background-color: #8c3db194;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin: 70px auto auto auto;
}

.grid__element{
    box-sizing: border-box;
    border: 1px solid turquoise;
    background: linear-gradient(#434c7c, #6f6c7ab9);
    text-align: center;
    font-weight: bold;
    color: #ece3e3;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.item6{
    grid-area: 1 / 6 / 8 / 6;
    width: 60%;
    writing-mode: vertical-rl;
    background: linear-gradient(#9ce28a,#dff1d1);
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: 5s;

}
.item6:hover{
    background: linear-gradient(#246415,#5e6955);
    transition: 10s;
}

.item8,.item9,.item10,.item11{
    background: linear-gradient(#becf5a,#c9ccb9);
    color: black;
}

.item7{
    grid-area: 2 / 1 / 2 / 6;
}

.contenedor{
    size: 100%;
    grid-area: 3 / 1 / 3 / 6;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 10px;
    background: transparent;
    border: none;

}
.item8, .item9{
    display: grid;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    line-height: normal;
    
}

.item10{
    grid-area: 4 / 1 / 4 / 6;
}

.item11{
    grid-area: 5 / 1 / 5 / 6;
}

.item12{
    grid-area: 6 / 1 / 6 / 6;
    background: linear-gradient(#d8b519,#d4cca5);
    color: black;
}
.item13{
    grid-area: 7 / 1 / 7 / 6;
    background: linear-gradient(#989ead,#adadad);
    color: black;
}